APP_NAME=Islamic RAG API
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000

POSTGRES_DB=islamic_rag
POSTGRES_USER=islamic_rag
POSTGRES_PASSWORD=change_me_local_only
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

QDRANT_URL=http://qdrant:6333
